<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입폼</title>
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<link href="/css/index.css" rel="stylesheet" />

</head>
<body>
	<div th:replace = "~{/fragments/header.html :: fragment-menu}">"></div>
	<h1 align="center">회원가입</h1>

	  <form action="memberInsert" method="post" id="enrollForm">
		<table align="center">
			<tr>
				<td>* 아이디</td>
				<td>
					<input name="id" id="id" required>
					<!--<input type="button" value="ID중복확인" onclick="idcheck(this.form.id.value);">  -->
					<div id="checkResult" style="font-size: 0.8em; display: none;"></div>
				</td>
			</tr>
			<tr>
				<td>* 비밀번호</td>
				<td><input type="password" name="password" required></td>
			</tr>
			<tr>
				<td>* 이름</td>
				<td><input name="name" required></td>
			</tr>
			<tr>
				<td>이메일주소</td>
				<td><input type="email" name="email" size="40" placeholder="email@email.com"></td>
			</tr>
			<tr>
				<td>생년월일</td>
				<td><input name="birthday" placeholder="2024-01-19"></td>
			</tr>
			<tr>
				<td>성별</td>
				<td>
					<input type="radio" name="gender" value="M">남
					<input type="radio" name="gender" value="F">여
				</td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td><input name="phone" placeholder="-포함"></td>
			</tr>
			<tr>
				<td>우편번호</td>
				<td><input name="zipcode" id="postcode" readonly>
				    <input type="hidden" value="우편번호찾기" onclick="findAddr();">
				</td>
				<td>우편번호를 검색하세요</td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input name="address" size="60"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="회원가입">
					<input type="reset" value="초기화">
				</td>
			</tr>
		</table>
	  </form>

<!---------------- // id 체크 ------------------->	  
	  <script>
	  	$(()=>{
	  		const $idInput = $("#id")
	  		$idInput.keyup(function(){
	  			if($idInput.val().length>=5){
	  				$.ajax({
	  					url: "idCheck",
	  					data : {id: $idInput.val()},
	  					success:function(result) {
	  						console.log(result);
	  						if(result){
	  							$("#checkResult").show();
	  							$("#checkResult").css("color","red").text("중복된 아이디가 존재합니다.다시 입력해 주세요");
	  							$("#enrollForm:submit").attr("disabled",true);
	  						}else{
	  							$("#checkResult").show();
	  							$("#checkResult").css("color","green").text("사용할수 있는 아이디입니다.");
	  							$("#enrollForm:submit").attr("disabled",false);	  								  							
	  						}
	  					},
	  					error:function(){
	  						console.log("아이디 중복체크용 ajax통신 실패");
	  					}
	  				})
	  			} else {
	  				$("#checkResult").hide();
	  				$("#checkResult:submit").attr("disabled",true);	 
	  			}
	  		})
	  	
	  	})
	  </script>
<!---------------- id 체크 // ------------------->	  

  
</body>
</html>