<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/boardList.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	<h1 align="center">게 시 판</h1>
	
	<div class="outer">
		<div th:text="|총 게시글의 수 : ${boardPage.totalElements}|"></div>
		<table id="list-area" align="center">
            <thead>
                <th width="10%">글번호</th>
                <th width="47%">제목</th>
                <th width="15%">작성자</th>
                <th width="10%">조회수</th>
                <th width="18%">작성일</th>
            </thead>
            <tbody>
				<tr th:each="board, state: ${boardPage}">
					<td th:text="${boardPage.totalElements-nowPage*boardPage.size-state.index}"></td>
					<td id="ellip">
						<a th:href="@{detailForm(bno=${board.bno})}" th:text="${board.title}"></a>
					</td>
					<td th:text="${board.writer}"></td>
					<td th:text="${board.count}"></td>
					<td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
				</tr>
            </tbody>
        </table>
        
        <!-- 페이징 처리 -->
        <div align="cener">
        	<span th:if="${nowPage > 0}">
        		<a th:href="@{list(nowPage=${nowPage-1})}">Prev...</a>
        	</span>
        	<!-- 
        	#numbers : 타임리프에서 숫자 포맷 메소드를 지원
        	  sequence()메소드 : sequence(start, end, step) 
        	 -->
        	<span th:each="pageNumber : ${#numbers.sequence(0, boardPage.totalPages-1)}">
        		<span th:if="${pageNumber == nowPage}">
        			<strong th:text="|[${pageNumber+1}]|"></strong>
        		</span>
        		<span th:unless="${pageNumber == nowPage}">
        			<a th:href="@{list(nowPage=${pageNumber})}" th:text="|[${pageNumber+1}]|"></a>
        		</span>
        	</span>
        	<span th:if="${nowPage < boardPage.totalPages-1}">
        		<a th:href="@{list(nowPage=${nowPage+1})}">...Next</a>
        	</span>
        </div>
        
        <div th:if="${loginUser != null}" align="right">
        	<a href="insertForm">새글등록</a>
        </div>
	</div>
</body>
</html>