<!DOCTYPE html>
<html lang="ja">
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webjars/flatpickr/4.6.13/dist/flatpickr.min.css">
  <script src="/webjars/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
  <!-- 한국어 locale 추가 -->
  <script src="/webjars/flatpickr/4.6.13/dist/l10n/ja.js"></script>
  <link href="/css/calendarMini.css" rel="stylesheet">
</head>
<body>

<!-- 미니 캘린더 컨테이너-->
<div id="mini-calendar"></div>

<!-- 메인 캘린더 컨테이너 -->
<div id="main-calendar"></div>

<script>
  flatpickr("#mini-calendar", {
    inline: true,
    shorthandCurrentMonth: true,
    static: true,
    locale: "ja" // 한국어로 설정
  });
</script>

</body>
</html>
