<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- For CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!--    <div id="loginForm">-->
<!--        <li>-->
<!--            <label for="email">Email</label>-->
<!--            <input type="text" name="email" id="email">    -->
<!--        </li>-->
<!--        <li>-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" name="password" id="password">-->
<!--        </li>-->
<!--        <li>-->
<!--            <button type="submit">로그인</button>-->
<!--        </li>-->
<!--        아직도 회원이 아니세요? <a href="/web/signup">지금 바로 시작하세요!</a>-->
<!--    </div>-->

<div class="entire" >
    <div id="loginForm">

        <h1 align="left">환영합니다</h1>
        <form>
            <table>
                <tr>
                    <th scope="row">
                        <label for="email">Email</label>
                    </th>
                    <td>
                        <input type="text" name="email" id="email">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="password">Password</label>
                    </th>
                    <td>
                        <input type="password" name="password" id="password">
                    </td>
                </tr>

                <tr>
                    <td>
                         <button type="submit">로그인</button>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3" align="center">
                     아직도 회원이 아니세요? <a href="/web/signup">지금 바로 시작하세요!</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <!--            <img th:src="@{/img/month.png}" alt="Month Image">-->
            <!--            <img th:src="@{/img/week.png}" alt="Week Image">-->
            <!--            <img th:src="@{/img/day.png}" alt="Day Image">-->
            <div class="swiper-slide">
                <img src="img/month.png">
            </div>
            <div class="swiper-slide">
                <img src="img/week.png">
            </div>
            <div class="swiper-slide">
                <img src="img/day.png">
            </div>
        </div>
    </div>
</div>
 <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(e) {
                e.preventDefault(); // 폼 기본 제출 방지

                var loginData = {
                    email: $('#email').val(),
                    password: $('#password').val()
                };

                $.ajax({
                    url: '/api/user/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(loginData),
                    success: function(response) {
                        console.log(loginData);
                        window.location.href = '/web/main';
                        // if (response.success) {
                        //     window.location.href = '/main'; // 메인 페이지로 리다이렉트
                        // } else {
                        //     // 로그인 실패 처리
                        //     alert('로그인 실패');
                        // }
                    },
                    error: function(error) {
                        // 오류 처리
                        alert('로그인 중 오류 발생');
                    }
                });
            });
        });
    </script>
    <!-- For JavaScript 자바스크립트 div 마치고 적용됨-->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>